body {
    font-family: Arial, sans-serif;
    background-color: pink;
    img {
  display: block;
  max-width: 1000%;
  max-height: 1000%;
}
    .dog {
        height: 1000px;
        width: 1000px;
}
